
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.header-base {
  width: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header-title {
  display: flex;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  padding: 20px;
  color: black;
}

.fill-div {
  text-decoration: none;
}