.app-header {

}

.post-base {
    padding: 30px;
    align-items: normal;
}

.post-holder {
  display: inline-flex;
  background-color: whitesmoke;
  width: 250px;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.post-contents {
  width: 100%;
  height: 100%;
}

.post-contents a {
  text-decoration: none;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: gray;
}

.post-header {
  color: black;
}

.rating-group {
  display: inline-flex;
  width: 100%;
  align-items: end;
  justify-content: end;
  align-content: end;
}

.rating {
  margin: 20px;
  text-decoration: none;
  color: green;
  cursor: pointer;
}

.rating:hover {
  color: #052406;
}